{% load i18n %}
{% load humanize %}
<div class="col-lg-4">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% translate "Locate History" %}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-condensed" id="table-locate-history">
            <thead>
                <tr>
                    <th class="text-left">{% translate "Timestamp" %}</th>
                    <th class="text-left">{% translate "Solar Systen" %}</th>
                    <th class="text-left">{% translate "Constellation" %}</th>
                    <th class="text-left">{% translate "Region" %}</th>
                    <th class="text-left">{% translate "Station" %}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>
