{% extends "allianceauth/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %}
    {% translate "Hunting" %}
{% endblock page_title %}
{% block content %}
    <div class="col-lg-12 container-fluid aa-hunting">
        <br/>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#market-manager-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'hunting:index' %}">Hunting</a>
            </div>
            <div class="collapse navbar-collapse"
                 id="market-manager-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="{% url 'hunting:add_char' %}">Add Character Token</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block details %}
        {% endblock details %}
    </div>
</div>
</div>
{% endblock content %}
